# This is Git's per-user configuration file.
[user]
  name = TN
  email = tnie@tuta.io
[core]
  excludesFile = ~/.gitignore
[init]
  defaultBranch = main
[pull]
  rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
